<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>programacion</title>
    <link rel="stylesheet" href="/curso.css">
</head>
<body>
    
<section  class="cursos">
    <div class="hcursos">
        <ul class="ulcursos">
            <li class="licursos"><a class="acursos" href="/cursos.html">INTELIGENCIA ARTIFICIAL</a></li>
            <li class="licursos"><a class="acursos" href="/paginas/front-end.html">FRONT-END</a></li>
            <li class="licursos"><a class="acursos" href="/paginas/data-science.html">DATA SCIENCE</a></li>
            <li class="licursos"><a class="acursos" href="/paginas/progam.html">PROGRAMACION</a></li>
            <li class="licursos"><a class="acursos" href="/paginas/devops.html">DEVOPS</a></li>
            <li class="licursos"><a class="acursos" href="/paginas/ux-design.html">UX AND DESIGN</a></li>
            <li class="licursos"><a class="acursos" href="/paginas/mobile.html">MOBILE</a></li>
            <li class="licursos"><a class="acursos" href="/paginas/innovation.html">INNOVACIÓN Y GESTIÓN</a></li>
        </ul>
    </div>
    <div class="scroll-indicator-container">
        <div class="scroll-indicator-bar"></div>
      </div>
</section>

<section class="cursos2">
    <div class="cursos2-1">
        <div class="cursos2-1-1">
            <strong>
                <p>Cursos de la Academia</p>
                <h1>Inteligencia Artificial</h1>
            </strong><br>
            <p>Sumérgete profundamente en el universo de la Inteligencia Artificial y domina las principales herramientas que están dando forma a la actualidad, como GPT Chat y Midjourney. Aprenda cómo empezar con la Inteligencia Artificial. Obtenga más información sobre la Escuela de Inteligencia Artificial o navegue por esta página para ver todos nuestros cursos y formaciones.</p>
        </div>
        <div class="cursos2-1-2">
            <img src="/imgcurso/image-removebg-preview (2).png" alt="">
        </div>
    </div>
</section>

<section class="cursos3">
    <div class="hcursos3">
        <ul class="ulcursos3">
            <li class="licursos3"><a href="/cursos.html" class="acursos3">Todos los cursos</a></li >
            <li class="licursos3"><a href="/paginas/programacion.html"class="acursos3">IA para Creativos</a></li >
            <li class="licursos3"><a href="/paginas/progamacion.html"class="acursos3">IA para Programación</a></li >
            <li class="licursos3"><a href="/paginas/innovation.html"class="acursos3">IA para Negocios</a></li >
            <li class="licursos3"><a href="/paginas/mobile.html"class="acursos3">IA para Mobile</a></li >
            <li class="licursos3" ><a href="/paginas/devops.html"class="acursos3">IA para Marketing Digital</a></li >
            <li class="licursos3" ><a href="/paginas/front-end.html"class="acursos3">IA para Front End</a></li >
            <li class="licursos3"><a href="/paginas/data-science.html"class="acursos3">IA para Datos</a></li >
            <li class="licursos3"><a href="/paginas/ux-design.html"class="acursos3">IA para UX & Design</a></li >
        </ul>
    </div>
</section>

    <section class="cursos3">
    <div class="hcursos4">
        <h2> IA para Creativos</h2>
        <div class="hcursos4-1">
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/inteligencia-artificial-generativa-midjourney-chatgpt.svg" alt=""> <p>Curso Inteligencia Artificial Generativa: Midjourney e ChatGPT</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        </div>
    
        <h2> IA para Programación</h2>
       <div class="hcursos4-1">
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso ChatGPT y JavaScript: construye el juego Pong</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso ChatGPT: revelando la IA en las conversaciones y sus aplicaciones</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso ChatGPT: optimizando la calidad de los resultados</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso y programación de ChatGPT: aumenta tu productividad</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso GitHub Copilot y ChatGPT: Impulsando tu desarrollo con IA</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso GPT y Python: creación de herramientas con la API</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso GPT y Java: integrar una aplicación con OpenAI</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso OpenAI: creación de una publicación para Instagram con IA generativa</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconprogramacion.svg" alt=""> <p>Curso Python y GPT: crea tu chatbot con IA</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
    </div>
    </div>

    <div class="hcursos4">
        <h2> IA para Negocios</h2>

        <div class="hcursos4-1">
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icon negocios.svg" alt=""> <p>Curso de Excel con IA: mapeo y evolución de procesos</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        <div class="cardcursos"><a href="">
            <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icon negocios.svg" alt=""> <p>Curso de Excel con IA: análisis de negocio con el recorrido del usuario</p></div>
            <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
        </div>
        </div>
    </div>

    <div class="hcursos4">
        <h2> IA para Mobile</h2>
        <div class="hcursos4-1">
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconmobile.svg" alt=""> <p>Curso Jetpack Compose: integrando la API Open AI en la aplicación</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconmobile.svg" alt=""> <p>Curso de Android con IA: exploración de Google ML Kit para traducción de textos</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            </div>
    </div>

    <div class="hcursos4">
        <h2> IA para Markting Digital</h2>
        <div class="hcursos4-1">
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconmktdigital.svg" alt=""> <p>Curso de Inteligencia Artificial: Campañas de Marketing Digital</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconmktdigital.svg" alt=""> <p>Curso de Inteligencia Artificial: gestión de redes sociales</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconmktdigital.svg" alt=""> <p>Curso de Inteligencia Artificial: personaliza estrategias de ventas con ChatGPT</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            </div>
    </div>

    <div class="hcursos4">
        <h2> IA para Front End</h2>
        <div class="hcursos4-1">
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconfrontend.svg" alt=""> <p>Curso de IA en el front-end: creación de pruebas unitarias con Luri</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/iconfrontend.svg" alt=""> <p>Curso de IA generativa en el Front-end: trabajando con accesibilidad, semántica</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            </div>
    </div>

    <div class="hcursos4">
        <h2> IA para Datos</h2>
        <div class="hcursos4-1">
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso ChatGPT con Excel: automatización con macros</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso ChatGPT con Excel: empezando a utilizar chatGPT como asistente</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso de Excel y ChatGPT: analizando datos y data</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso de Excel: Lógica booleana y búsqueda de valores con IA</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso de Machine Learning: usando ChatGPT como asistente</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso de Python con IA: acelerando la productividad en ciencia de datos</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso Power BI: creación de informes con ayuda de IA</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso VBA y ChatGPT: aprovechando la automatización</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso de análisis de datos con Python: usando ChatGPT como asistente</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondatos.svg" alt=""> <p>Curso H2O Flow: optimizando la producción de modelos ML</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            </div>
    </div>

    <div class="hcursos4">
        <h2> IA para UX & Design</h2>
        <div class="hcursos4-1">
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondesign.svg" alt=""> <p>Curso Inteligencia Artificial y UX: optimizar la construcción de un producto digital</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondesign.svg" alt=""> <p>Curso de inteligencia artificial y personas: acelerando el proceso de creación</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondesign.svg" alt=""> <p>Curso de IA en Photoshop: creación y edición de imágenes</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondesign.svg" alt=""> <p>Curso de Investigación Ux: uso de la IA en la investigación de usuarios</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondesign.svg" alt=""> <p>Curso de diseño de presentaciones con IA: herramientas, técnicas y mejores prácticas</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondesign.svg" alt=""> <p>Curso Landing Page con IA: construyendo una página web funcional</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            <div class="cardcursos"><a href="">
                <div class="cardcursos1-1"> <img src="/imgcurso/ICONCURSOS/icondesign.svg" alt=""> <p>Curso de IA: creación de un taller online con Design Thinking</p></div>
                <div class="cardcursos1-2"> <img src="/imgcurso/icon-time-card.1686744881.svg" alt=""> <p>08h</p></div></a>
            </div>
            </div>
    </div>
    </section>
    <section class="cursos3">
    <div class="hcursos5">
        <div class="hcursos5-1">
            <div class="hcursos5-1-1">
                <img src="/imgcurso/inteligencia-artificial.svg" alt="">
                <div><p>Formacion en</p>
                <strong>Inteligencia Artificial</strong>
                </div>
            </div>
            <div style="color: aliceblue;"><p>1 Formacion</p></div>
        </div>
        <div class="hcursos5-2">
            <p>OpenAI y Python: cree herramientas potentes y chatbots inteligentes con las API de OpenAI </p>
                <p>3 Cursos</p>
        </div>
    </div>
</section>

<section class="cursos6">
    <div class="hcursos6">
    <div class="cursos6-1">
        <div class="hcursos6-1">
            <h2 class="h2">
                <p>Por donde empezar</p>
                <strong>Inteligencia Artificial</strong>
            </h2> <br> <br>
            <h2> <strong>Sumérgete en la IA</strong></h2><br>
            <p>Estudiarás, practicarás, discutirás y profundizarás en la Inteligencia Artificial aplicada a tu carrera, con la escuela de tecnología en línea más grande de Brasil.</p><br><br>
            <h2> <strong>Estar adelante</strong></h2><br>
            <p>No necesitas ser Dev ni trabajar con tecnología, la Inteligencia Artificial ya está redefiniendo el futuro de tu área. Prepárate para este nuevo mercado y conviértete en protagonista de esta transformación, dominando la IA generativa y aplicando estas herramientas en la práctica, en los más variados contextos profesionales.</p><br><br>
            <h2> <strong>¿Por qué elegir la Escuela de Inteligencia Artificial Alura?</strong></h2><br>
            <p>La Escuela de Inteligencia Artificial de Alura se suma a la lista de más de 1.400 cursos de la plataforma. Con un equipo dedicado de instructores con experiencia en el tema, la nueva escuela tiene como objetivo desarrollar contenido en profundidad sobre el tema y hacer accesible el uso de la IA aplicada en todas las áreas.</p><br>
            <p>Al monitorear de cerca las noticias y tendencias, nos aseguramos de que nuestros cursos estén siempre actualizados con las últimas innovaciones en el mercado tecnológico. Al elegir la Escuela de Inteligencia Artificial Alura te estarás posicionando a la vanguardia de la revolución tecnológica.</p><br><br>
            <h2> <strong>Que aprenderás</strong></h2><br>
            <p>Aprenderá a utilizar la IA generativa para crear experiencias interactivas excepcionales, utilizando herramientas como GPT Chat y Midjourney. Además de explorar el potencial de la Inteligencia Artificial y descubrir cómo puede transformar tu forma de trabajar.</p><br>
            <p>Con la enseñanza de Alura, los cursos y capacitaciones de la Escuela de Inteligencia Artificial fueron diseñados para ofrecer conocimientos prácticos aplicables a su vida diaria y profesional, con el objetivo de potenciar su desempeño profesional.</p><br><br>
            <h2> <strong>Sumérgete en la IA</strong></h2><br>
            <p>Desde profesionales que inician su carrera hasta expertos experimentados que buscan mejorar sus habilidades, la Escuela de Inteligencia Artificial de Alura tiene la opción perfecta para usted.</p><br>
            <p>Explora los cursos disponibles y comienza tu viaje al mundo de la Inteligencia Artificial ahora mismo.</p><br>
            <p>Regístrate y únete a nosotros en la Escuela de Inteligencia Artificial Alura.</p><br><br>
        </div>
        
    </div>
    <div class="cursos6-2"><img src="/imgcurso/ilustra-timao.1686744881.svg" alt=""></div>

    </div>
</section>
<section class="cursos7">
    <div class="hcursos7">
        <div class="cursos7-1">
            <p>Líderes de Academia</p>
            <h2>Inteligencia Artificial</h2>
        </div> <br><br>
        <div class="hcursos7-1"> 
        <div class="cursos7-2">
            <img src="/imgcurso/DOCENTES/guilherme-silveira.1686744882.jpeg" alt="">
            <strong>Guilherme Silveira</strong><br>
            <p>Chief Education Officer</p>
        </div>
        <div class="cursos7-2">
            <img src="/imgcurso/DOCENTES/NAME2.png" alt="">
            <strong>Valquíria Alencar</strong><br>
            <p>Instructora</p>
        </div>
        <div class="cursos7-2">
            <img src="/imgcurso/DOCENTES/NAME3.jpg" alt="">
            <strong>Monica Hillman</strong><br>
            <p>Instructora</p>
        </div>
        <div class="cursos7-2">
            <img src="/imgcurso/DOCENTES/NAME4.jpg" alt="">
            <strong>Guilherme Lima</strong><br>
            <p>Instructor</p>
        </div>
        <div class="cursos7-2">
            <img src="/imgcurso/DOCENTES/NAME5.jpg" alt="">
            <strong>Aline Roque Klein</strong><br>
            <p>Agile Chapter Leader</p>
        </div>
        <div class="cursos7-2">
            <img src="/imgcurso/DOCENTES/NAME6.jpg" alt="">
            <strong>Roberto Sabino</strong><br>
            <p>Instructor</p>
        </div>
        </div>
    </div>
</section>

<section class="cursos8">
   <div class="hcursos8">
    <div class="cursos8-1">
        <div><b><h1>¿Sabes cuándo puedes empezar? ¡Ahora!</h1></b></div>
    </div>
    <div class="cursos8-2">
        <div class="cursos8-2-1">
            <div class="hcursos8-1">
                <div> 
                    <img src="https://www.alura.com.br/assets/img/planosPagamento/icon-plan-premium.1698657911.svg" alt="">
                    <p class="plus">PLUS</p></div>
                <div><p>De $1899</p></div>
            <div class="precio8">
                <span>12X</span>
                <strong>$109</strong>
                <p class="anual">Total $1308</p>
            </div>
        </div>
            <div>
                <p>Acceso a TODOS los cursos</p> <br>
                <p>Alura Challenges</p> <br>
                <p>Alura Casos</p> <br>
                <p>Certificado</p> <br>
            </div>
            <div class="boton8"><button class="btncursos8"><a href=""><p>MATRICÚLATE</p></a></button></div>
        </div>
        <div class="cursos8-2-2">
            <div class="hcursos8-1">
                <div> 
                    <img src="https://www.alura.com.br/assets/img/planosPagamento/icon-plan-premium.1698657911.svg" alt="">
                    <p class="plus">PLUS</p></div>
                <div><p>De $2400</p></div>
            <div class="precio8">
                <span>12X</span>
                <strong>$149</strong>
                <p class="anual">Total $1788</p>
            </div>
        </div>
            <div class="listacursos8">
                <p>Acceso a TODOS los cursos</p> <br>
                <p>Alura Challenges</p> <br>
                <p>Alura Casos</p> <br>
                <p>Certificado</p> <br>
                <p>Luri powered by ChatGPT</p> <br>
                <p>Alura Língua (incluido curso Ingles para Devs)</p> <br>
            </div>
            <div class="boton8"><button class="btncursos8"><a href=""><p>MATRICÚLATE</p></a></button></div>
        </div>
        
    </div>

    <p class="pfinal">Conoce nuestros PLANES</p>
</div>
</section>

<section class="cursos9">
    <div class="hcursos9">
        <div class="cursos9-1"><img src="/imgcurso/icon-plan-calendar.1686744881 (1).svg" alt=""><p>Acceso completo
            durante 1 año</p></div>
        <div class="cursos9-1"><img src="/imgcurso/icon-plan-moon.1686744881 (1).svg" alt=""><p>Acceso completo
            durante 1 año</p></div>
        <div class="cursos9-1"><img src="/imgcurso/icon-plan-reload.1686744881 (1).svg" alt=""><p>Acceso completo
            durante 1 año</p></div>
    </div>
</section>

//Javacript for the scroll indicator bar
<script>
window.addEventListener("scroll", () => {
  const indicatorBar = document.querySelector(".scroll-indicator-bar");

  const pageScroll = document.body.scrollTop || document.documentElement.scrollTop;
  const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  const scrollValue = (pageScroll / height) * 100;

  indicatorBar.style.width = scrollValue + "%";
});
</script>

</body>
</html>