{% load static %}
<div class="content-footer-f">
    <div class="frame-footer-01-app-link">
      <div class="cont-all-sec01-footer-inf">
        <div class="cards-sect-a-frt">
          <div class="cont-ff-tnl-inf">
            <img
              src="{% static 'img/img-home/alura-logo-footer.svg' %}"
              alt=""
            />
            <p>AOVS Sistemas e informática S.A</p>
            <p>CNPJ 05.555.382/0001-33</p>
          </div>
          <div class="cont-ff-tnl-inf-02">
            <h3>NUESTRAS REDES Y APPS</h3>
            <div class="cont-link-footer-redes-sociales">
              <div class="cont-link-r-social-ttr">
                <a class="lnk-footer-bql1a" href="https://wa.link/tgxqso">
                  <img
                    src="{% static 'img/img-home/whatsapp_black_logo_icon.png' %}"
                    alt=""
                  />
                </a>
              </div>
              <div class="cont-link-r-social-ttr">
                <a class="lnk-footer-bql1a">
                  <img
                    src="{% static 'img/img-home/social_facebook_fb.png' %}"
                    alt=""
                  />
                </a>
              </div>
              <div class="cont-link-r-social-ttr">
                <a class="lnk-footer-bql1a">
                  <img
                    src="{% static 'img/img-home/social_Twitter.png' %}"
                    alt=""
                  />
                </a>
              </div>
              <div class="cont-link-r-social-ttr">
                <a class="lnk-footer-bql1a">
                  <img
                    src="{% static 'img/img-home/instagram_black_logo_icon.png' %}"
                    alt=""
                  />
                </a>
              </div>
              <div class="cont-link-r-social-ttr">
                <a class="lnk-footer-bql1a">
                  <img
                    src="{% static 'img/img-home/application_playstore_logo.png' %}"
                    alt=""
                  />
                </a>
              </div>
              <div class="cont-link-r-social-ttr">
                <a class="lnk-footer-bql1a">
                  <img
                    src="{% static 'img/img-home/apple_mac.png' %}"
                    alt=""
                  />
                </a>
              </div>
              <div class="cont-link-r-social-ttr">
                <a class="lnk-footer-bql1a">
                  <img
                    src="{% static 'img/img-home/tiktok_logo_icon.png' %}"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>