{% load static %}

<div class="content-section-1">
    <div class="content-info-section-1">
      <div class="cont-info-s1">
        <h1>Cursos de <span>Tecnologia!</span></h1>
        <p>Contamos con la mejor comunidad de tecnologia del pais.</p>
        <a class="btn-link-s1" href="/cursos">
          <div class="cont-matricula-now">
            <p>VER CURSOS</p>
          </div>
        </a>
      </div>
      <div class="content-cards-s1">
        <div class="cards-s1-content-gr">
          <a class="link-card-s1" href="/cursos">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-cmd-fondo"
                  src="{% static 'img/img-home/terminal_box_icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s1">Escuela_</h5>
              <h4 class="subtitulo-card-s1">INTELIGENCIA ARTIFICIAL</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
          <a class="link-card-s1" href="/cursos2">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-asterisco-fondo"
                  src="{% static 'img/img-home/braces-asterisk-icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s2">Escuela_</h5>
              <h4 class="subtitulo-card-s2">FRONT-END</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
          <a class="link-card-s1" href="/cursos3">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-react-s1"
                  src="{% static 'img/img-home/react_logo_icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s3">Escuela_</h5>
              <h4 class="subtitulo-card-s3">DATA SCIENCE</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
          <a class="link-card-s1" href="/cursos4">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-ai-sc1"
                  src="{% static 'img/img-home/ai_artificial_intelligence_icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s4">Escuela_</h5>
              <h4 class="subtitulo-card-s4">PROGRAMACION</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
          <a class="link-card-s1" href="/cursos5">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-gear-sc1"
                  src="{% static 'img/img-home/gear-icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s5">Escuela_</h5>
              <h4 class="subtitulo-card-s5">DEVOPS</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
          <a class="link-card-s1" href="/cursos6">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-eye-sc1"
                  src="{% static 'img/img-home/eye-icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s6">Escuela_</h5>
              <h4 class="subtitulo-card-s6">UX AND DESIGN</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
          <a class="link-card-s1" href="/cursos7">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-mobil-sc1"
                  src="{% static 'img/img-home/mobilephone_icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s7">Escuela_</h5>
              <h4 class="subtitulo-card-s7">MOBILE</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
          <a class="link-card-s1" href="/cursos8">
            <div class="card-s1-t">
              <div>
                <img
                  class="icono-bombilla-sc1"
                  src="{% static 'img/img-home/lightbulb_idea_icon.svg' %}"
                  alt=""
                />
              </div>
              <h5 class="titulo-card-s7">Escuela_</h5>
              <h4 class="subtitulo-card-s7">INNOVACION Y GESTION</h4>
              <p>
                Lógica, Python, PHP, Java, .NET, Node JS, c, Computación,
                Juegos, IoT y más...
              </p>
            </div>
          </a>
        </div>
        <div class="content-animated-arrows">
          <div class="triple-flecha-animado">
            <img
              class="triple-flecha"
              src="{% static 'img/img-home/speed_fast_arrows_icon.svg' %}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-2">
    <div class="content-2-blq1">
      <div class="cont2-fr-a">
        <div class="frame-info-ct2-a">
          <div class="dtl-cr2-tt">
            <h3>¡Hola bienvenido! ¿Qué tecnología quieres estudiar?</h3>
          </div>
          <div class="dtl-cr2-st-ct">
            <ul>
              <li>
                <a class="link-reference-st2" href="/cursos2">Front-end</a>
              </li>
              <li>
                <a class="link-reference-st2" href="/cursos4">Programación</a>
              </li>
              <li>
                <a class="link-reference-st2" href="/cursos7">Mobile</a>
              </li>
              <li>
                <a class="link-reference-st2" href="/cursos5">Devops</a>
              </li>
              <li>
                <a class="link-reference-st2" href="/cursos6">UX & Design</a>
              </li>
              <li>
                <a class="link-reference-st2" href="/cursos3">Data Science</a>
              </li>
              <li>
                <a class="link-reference-st2" href="/cursos8"
                  >Innovación y Gestion</a
                >
              </li>
              <li>
                <a class="link-reference-st2" href="/cursos"
                  >Inteligencia Artificial</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cont2-fr-b">
        <h2>¿Qué tecnología quieres profundizar?</h2>
        <p>
          Utilice la terminal lateral para descubrir las tecnologías y temas
          que puede explorar.
        </p>
      </div>
    </div>
    <div class="content-2-blq2">
      <div class="cont2-fr-c">
        <div class="cont-fr-c-t">
          <h2>La mejor escuela online de tecnología del Perú</h2>
          <p>
            Sumérgete más profundamente y navega por otras áreas de la
            tecnología. Conviértete en profesional.
          </p>
        </div>
        <a class="btn-link-s2" href="c_funciona">
          <div class="cont-matricula-s2c">
            <p>MIRA COMO FUNCIONA</p>
          </div>
        </a>
      </div>
      <div class="cont2-fr-d">
        <div class="frame-info-ct2-b">
          <div class="cont-ct2-trui-dt">
            <div>
              <img
                src="{% static 'img/img-home/stripes-large.svg' %}"
                alt=""
              />
            </div>
            <div>
              <img
                src="{% static 'img/img-home/numbers-right.svg' %}"
                alt=""
              />
            </div>
          </div>
          <div class="cont-ct2-trui-dt-b">
            <div class="content-video-link-ct2">
              <a class="btn-play-sect-2-dtl">
                <div class="play-button-star-all">
                  <img
                    src="{% static 'img/img-home/play-button_icon.svg' %}"
                    alt=""
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-2-blq3">
      <div class="cont-cards-sct2">
        <div class="card-sct2-dt">
          <img
            class="img-sect2-ic-d"
            src="{% static 'img/img-home/velero-icon.svg' %}"
            alt=""
          />
          <h3>AVANCE EN SU CARRERA</h3>
          <p>
            Hay más de 1467 cursos y lanzamientos cada semana para que
            transformes tu futuro con la escuela de referencia en educación
            tecnológica.
          </p>
        </div>
      </div>
      <div class="cont-cards-sct2">
        <div class="card-sct2-dt">
          <img
            class="img-sect2-ic-d"
            src="{% static 'img/img-home/submarino-icon.svg' %}"
            alt=""
          />
          <h3>PROFUNDIZA TUS CONOCIMIENTOS</h3>
          <p>
            Aquí tienes acceso a un proceso de aprendizaje accesible y
            específico en tu viaje de estudio, para que puedas convertirte en
            un profesional en T.
          </p>
        </div>
      </div>
      <div class="cont-cards-sct2">
        <div class="card-sct2-dt">
          <img
            class="img-sect2-ic-d"
            src="{% static 'img/img-home/mascara-de-buso-icon.svg' %}"
            alt=""
          />
          <h3>CONÉCTATE CON LA COMUNIDAD</h3>
          <p>
            Sé parte de la comunidad más grande de amantes de la tecnología.
            Conozca y conéctese con miles de profesionales del mercado.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-3">
    <div class="cont-ct3bla">
      <div class="ct3-blq-1-a">
        <div class="ct3-blq1-a">
          <p>Nuestras formaciones, tu guía</p>
          <h2>
            Secuencias de cursos organizados en <span>Capacitaciones</span>
          </h2>
          <h5>
            Formación con contenidos para el mercado laboral: secuencias de
            cursos y contenidos para formarte en tecnología y negocios
            digitales.
          </h5>
        </div>
      </div>
      <div class="ct3-blq-1-b">
        <div class="content-ct3-img-submarine">
          <div class="barras-ct3">
            <div>
              <img
                src="{% static 'img/img-home/stripes-large.svg' %}"
                alt=""
              />
            </div>
          </div>
          <div class="flecha-ct3">
            <div class="triple-flecha-animado">
              <img
                class="triple-flecha"
                src="{% static 'img/img-home/speed_fast_arrows_icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <div class="simbolo-ct3">
            <div class="simbolo-a-giratorio">
              <img
                class="letra-sag"
                src="{% static 'img/img-home/simbolo-a.png' %}"
                alt=""
              />
              <img
                class="aureola-sag"
                src="{% static 'img/img-home/selo-circle.png' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cont-divider-bloq">
      <img src="{% static 'img/img-home/divider-line.svg' %}" alt="" />
    </div>
    <div class="content-ct3blb">
      <div class="card-ct3-link-cursos">
        <div class="titulo-card-lrn cl-ct3-tt-crd-1">
          <div class="cont-img-ct3-link-card">
            <div>
              <img
                class="icono-cmd-fondo"
                src="{% static 'img/img-home/terminal_box_icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <h5>INTELIGENCIA ARTIFICIAL</h5>
        </div>
        <a class="lnk-sc3-crd-st" href="/cursos"
          >Desde cero: principiante en programación</a
        >
        <a class="lnk-sc3-crd-st" href="/cursos2"
          >APIs con Node.js e Express</a
        >
        <a class="lnk-sc3-crd-st" href="/cursos3"
          >Aprende a programar en C# con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st" href="/cursos4"
          >Aprende a programar en Java con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st" href="/cursos5"
          >Aprenda a programar en JavaScript con enfoque en el back-end</a
        >
        <a class="lnk-sc3-crd-st" href="/cursos6"
          >Aprende a programar en PHP</a
        >
        <a class="lnk-sc3-crd-st" href="/cursos7"
          >Aprende a programar en Python con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st" href="/cursos8"
          >Profundice en .NET con Arquitectura de Microservicios y RabbitMQ</a
        >
        <div class="link-direct-escuela-direction">
          <a class="lnk-sc3-crd-st-sch" href="/c_funciona">Ver Centro</a>
        </div>
      </div>
      <div class="card-ct3-link-cursos">
        <div class="titulo-card-lrn cl-ct3-tt-crd-2">
          <div class="cont-img-ct3-link-card">
            <div>
              <img
                class="icono-asterisco-fondo"
                src="{% static 'img/img-home/braces-asterisk-icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <h5>FRONT-END</h5>
        </div>
        <a class="lnk-sc3-crd-st">Desde cero: principiante en programación</a>
        <a class="lnk-sc3-crd-st">APIs con Node.js e Express</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en C# con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Java con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprenda a programar en JavaScript con enfoque en el back-end</a
        >
        <a class="lnk-sc3-crd-st">Aprende a programar en PHP</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Python con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Profundice en .NET con Arquitectura de Microservicios y RabbitMQ</a
        >
        <div class="link-direct-escuela-direction">
          <a class="lnk-sc3-crd-st-sch" href="/c_funciona">Ver Centro</a>
        </div>
      </div>
      <div class="card-ct3-link-cursos">
        <div class="titulo-card-lrn cl-ct3-tt-crd-3">
          <div class="cont-img-ct3-link-card">
            <div>
              <img
                class="icono-react-s1"
                src="{% static 'img/img-home/react_logo_icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <h5>DATA SCIENCE</h5>
        </div>
        <a class="lnk-sc3-crd-st">Desde cero: principiante en programación</a>
        <a class="lnk-sc3-crd-st">APIs con Node.js e Express</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en C# con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Java con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprenda a programar en JavaScript con enfoque en el back-end</a
        >
        <a class="lnk-sc3-crd-st">Aprende a programar en PHP</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Python con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Profundice en .NET con Arquitectura de Microservicios y RabbitMQ</a
        >
        <div class="link-direct-escuela-direction">
          <a class="lnk-sc3-crd-st-sch" href="/c_funciona">Ver Centro</a>
        </div>
      </div>
      <div class="card-ct3-link-cursos">
        <div class="titulo-card-lrn cl-ct3-tt-crd-4">
          <div class="cont-img-ct3-link-card">
            <div>
              <img
                class="icono-gear-sc1"
                src="{% static 'img/img-home/gear-icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <h5>PROGRAMACIÓN</h5>
        </div>
        <a class="lnk-sc3-crd-st">Desde cero: principiante en programación</a>
        <a class="lnk-sc3-crd-st">APIs con Node.js e Express</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en C# con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Java con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprenda a programar en JavaScript con enfoque en el back-end</a
        >
        <a class="lnk-sc3-crd-st">Aprende a programar en PHP</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Python con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Profundice en .NET con Arquitectura de Microservicios y RabbitMQ</a
        >
        <div class="link-direct-escuela-direction">
          <a class="lnk-sc3-crd-st-sch" href="/c_funciona">Ver Centro</a>
        </div>
      </div>
      <div class="card-ct3-link-cursos">
        <div class="titulo-card-lrn cl-ct3-tt-crd-5">
          <div class="cont-img-ct3-link-card">
            <div>
              <img
                class="icono-eye-sc1"
                src="{% static 'img/img-home/eye-icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <h5>DEVOPS</h5>
        </div>
        <a class="lnk-sc3-crd-st">Desde cero: principiante en programación</a>
        <a class="lnk-sc3-crd-st">APIs con Node.js e Express</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en C# con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Java con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprenda a programar en JavaScript con enfoque en el back-end</a
        >
        <a class="lnk-sc3-crd-st">Aprende a programar en PHP</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Python con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Profundice en .NET con Arquitectura de Microservicios y RabbitMQ</a
        >
        <div class="link-direct-escuela-direction">
          <a class="lnk-sc3-crd-st-sch" href="/c_funciona">Ver Centro</a>
        </div>
      </div>
      <div class="card-ct3-link-cursos">
        <div class="titulo-card-lrn cl-ct3-tt-crd-6">
          <div class="cont-img-ct3-link-card">
            <div>
              <img
                class="icono-mobil-sc1"
                src="{% static 'img/img-home/mobilephone_icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <h5>UX AND DEGIGN</h5>
        </div>
        <a class="lnk-sc3-crd-st">Desde cero: principiante en programación</a>
        <a class="lnk-sc3-crd-st">APIs con Node.js e Express</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en C# con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Java con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprenda a programar en JavaScript con enfoque en el back-end</a
        >
        <a class="lnk-sc3-crd-st">Aprende a programar en PHP</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Python con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Profundice en .NET con Arquitectura de Microservicios y RabbitMQ</a
        >
        <div class="link-direct-escuela-direction">
          <a class="lnk-sc3-crd-st-sch" href="/c_funciona">Ver Centro</a>
        </div>
      </div>
      <div class="card-ct3-link-cursos">
        <div class="titulo-card-lrn cl-ct3-tt-crd-7">
          <div class="cont-img-ct3-link-card">
            <div>
              <img
                class="icono-bombilla-sc1"
                src="{% static 'img/img-home/lightbulb_idea_icon.svg' %}"
                alt=""
              />
            </div>
          </div>
          <h5>MOBILE</h5>
        </div>
        <a class="lnk-sc3-crd-st">Desde cero: principiante en programación</a>
        <a class="lnk-sc3-crd-st">APIs con Node.js e Express</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en C# con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Java con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Aprenda a programar en JavaScript con enfoque en el back-end</a
        >
        <a class="lnk-sc3-crd-st">Aprende a programar en PHP</a>
        <a class="lnk-sc3-crd-st"
          >Aprende a programar en Python con Orientación a Objetos</a
        >
        <a class="lnk-sc3-crd-st"
          >Profundice en .NET con Arquitectura de Microservicios y RabbitMQ</a
        >
        <div class="link-direct-escuela-direction">
          <a class="lnk-sc3-crd-st-sch" href="/c_funciona">Ver Centro</a>
        </div>
      </div>
    </div>
    <div class="content-ct3blc">
      <div class="cont-blq54">
        <div class="cont-bqq1a">
          <h4>FIAP + Alura</h4>
          <h2>¡Sé parte del la major enseñanza tecnológica de Peru!</h2>
          <p>
            ¿Sabías que Alura se incorporó al Centro Universitario,<span>
              referencia en tecnología en Brasil?</span
            >
          </p>
          <p>
            <span>DISCOVER POST TECH,</span> un proyecto inédito de la
            asociación<span> FIAP + ALURA</span>: cursos de posgrado únicos,
            100% digitales, prácticos y asíncronos en las áreas de Dev, Cyber
            ​​Security y Data.
          </p>
          <p>¡Vacantes limitadas!</p>
          <a class="btn-link-s3" href="/c_funciona">
            <div class="cont-matricula-s3c">
              <p>SABER MÁS</p>
            </div>
          </a>
        </div>
        <div class="cont-bqq1b">
          <div class="cont-sup-brd">
            <hr class="bs-line-abvh" color="#696969" />
            <p>//FUTURE SKILLS</p>
          </div>
          <img src="{% static 'img/img-home/fiap_alura.png' %}" alt="" />
        </div>
      </div>
      <div class="cont-blq56">
        <hr class="bs-line-abvm1" color="#696969" />
        <div class="bmn-info-inf">
          <h5>DEEP TECH, DEPP DIVE</h5>
          <div class="frm-inf-sign">
            <hr class="bs-line-abvm2" color="#696969" />
            <h5>FIAP + ALURA</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-sct-4">
    <div class="sect-a-sct4-crt">
      <div class="sct-aad-s1">
        <p>¿Vale la pena Alura?</p>
        <h2>
          Conoce los <span>testimonios e historias</span> de quienes estudian
          con nosotros
        </h2>
      </div>
      <div class="cont-bkg-sct4-la">
        <img
          class="fondo-luz-sct4"
          src="{% static 'img/img-home/selo-animation-luz.png' %}"
          alt=""
        />
        <div class="fondo-logo-mov-sct4">
          <img
            class="fondo-logo-mov"
            src="{% static 'img/img-home/selo-animation-simbolo.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="sect-a-sct4-ss6">
      <div class="cards-gen-sct4-ww">
        <div class="card-sct4-dtl">
          <div class="inf-card-ph">
            <img src="{% static 'img/img-home/angela-caldas.jpg' %}" alt="" />
            <h5>Angela Emanoelle</h5>
          </div>
          <a>
            <div class="cont-bkg-card-qw">
              <div class="btn-play-sct4-crd">
                <div class="play-button-star-all">
                  <img
                    src="{% static 'img/img-home/play-button_icon.svg' %}"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </a>
          <p>
            La arquitecta Ángela trabajaba en la industria de la
            construcción...
          </p>
          <a class="link-sct4-cards-w">Ver testimonio completo en YouTube</a>
        </div>
      </div>
      <div class="cards-gen-sct4-ww">
        <div class="card-sct4-dtl">
          <div class="inf-card-ph">
            <img src="{% static 'img/img-home/roger-tuma.png' %}" alt="" />
            <h5>Roger Tuma</h5>
          </div>
          <a>
            <div class="cont-bkg-card-qw">
              <div class="btn-play-sct4-crd">
                <div class="play-button-star-all">
                  <img
                    src="{% static 'img/img-home/play-button_icon.svg' %}"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </a>
          <p>
            ¡Roger comenzó en el campo de la tecnología cuando tenía 17 años!
            Como hombre trans, enfrentó varios desafíos en el mercado
            laboral...
          </p>
          <a class="link-sct4-cards-w">Ver testimonio completo en YouTube</a>
        </div>
      </div>
      <div class="cards-gen-sct4-ww">
        <div class="card-sct4-dtl">
          <div class="inf-card-ph">
            <img
              src="{% static 'img/img-home/natalia-francisco.png' %}"
              alt=""
            />
            <h5>Natalia Francisco</h5>
          </div>
          <a>
            <div class="cont-bkg-card-qw">
              <div class="btn-play-sct4-crd">
                  <div class='play-button-star-all'>
                      <img src="{% static 'img/img-home/play-button_icon.svg' %}" alt="" />
                  </div>
              </div>
            </div>
          </a>
          <p>
            Natália F. Silva se inició en la tecnología porque le apasionaban
            los juegos y quería aprender a hacer uno...
          </p>
          <a class="link-sct4-cards-w">Ver testimonio completo en YouTube</a>
        </div>
      </div>
      <div class="cards-gen-sct4-ww">
        <div class="card-sct4-dtl">
          <div class="inf-card-ph">
            <img src="{% static 'img/img-home/iago-lopes.png' %}" alt="" />
            <h5>Iago Alves</h5>
          </div>
          <a>
            <div class="cont-bkg-card-qw">
              <div class="btn-play-sct4-crd">
                  <div class='play-button-star-all'>
                      <img src="{% static 'img/img-home/play-button_icon.svg' %}" alt="" />
                  </div>
              </div>
            </div>
          </a>
          <p>
            ¿Alguna vez has escuchado que para trabajar con tecnología es
            necesario tener un “don”? Yago es la prueba...
          </p>
          <a class="link-sct4-cards-w">Ver testimonio completo en YouTube</a>
        </div>
      </div>
      <div class="cards-gen-sct4-ww">
        <div class="card-sct4-dtl">
          <div class="inf-card-ph">
            <img src="{% static 'img/img-home/dayane-garcia.png' %}" alt="" />
            <h5>Dayane Garcia</h5>
          </div>
          <a>
            <div class="cont-bkg-card-qw">
              <div class="btn-play-sct4-crd">
                  <div class='play-button-star-all'>
                      <img src="{% static 'img/img-home/play-button_icon.svg' %}" alt="" />
                  </div>
              </div>
            </div>
          </a>
          <p>
            ¡Dayane dejó el área de RRHH para sumergirse en la tecnología! La
            transición no fue fácil, pero...
          </p>
          <a class="link-sct4-cards-w">Ver testimonio completo en YouTube</a>
        </div>
      </div>
      <div class="cards-gen-sct4-ww">
        <div class="card-sct4-dtl">
          <div class="inf-card-ph">
            <img
              src="{% static 'img/img-home/jean-rodrigues.png' %}"
              alt=""
            />
            <h5>Jean Rodrigues</h5>
          </div>
          <a>
            <div class="cont-bkg-card-qw">
              <div class="btn-play-sct4-crd">
                  <div class='play-button-star-all'>
                      <img src="{% static 'img/img-home/play-button_icon.svg' %}" alt="" />
                  </div>
              </div>
            </div>
          </a>
          <p>
            Jean tuvo su primer contacto con la tecnología siendo un joven
            aprendiz, a los 15 años...
          </p>
          <a class="link-sct4-cards-w">Ver testimonio completo en YouTube</a>
        </div>
      </div>
    </div>
    <div class="frame-link-mr-tst-sct4">
      <a class="btn-final-sct-tst-m">
        <div class="btn-mr-tst-end-sct4">
          <p>CONOCE MAS DECENAS DE HISTORIAS DE ALUMNOS Y ALUMNAS DE ALURA</p>
        </div>
      </a>
    </div>
  </div>

  <div class="content-section-sc5">
    <div class="cont-int-sct5-bk">
      <div class="blq-cs5-bq1">
        <div class="fr-ttl-cs5">
          <div class="logo-cs5-tll">
            <img
              class="logo-sect-sc5-alura-e"
              src="{% static 'img/img-home/alura-para-empresas.svg' %}"
              alt=""
            />
          </div>
          <h5>Altura a medir</h5>
          <h2>Para tu empresa</h2>
          <h4>
            Capacite a sus equipos con capacitación continua, lanzamientos
            semanales, paneles e informes de participación, así como guías de
            estudio personalizadas según sus necesidades.
          </h4>
          <h4 class="p-btp-spc">
            Descubra nuestra propuesta para su empresa:
          </h4>
          <a class="btn-cs5-refer-a">
            <div class="cont-btn-alg-c5">
              <p>Descubre los recursos</p>
            </div>
          </a>
        </div>
        <div class="fr-ttl-cs5-2">
          <div class="rt-blq-78">
            <div class="cont-img-sct5-logo-tn">
              <img
                class="logo-sect-sc5-suzano"
                src="{% static 'img/img-home/suzano.png' %}"
                alt=""
              />
            </div>
            <p>
              Haber participado en la Data Science Academy y traducir un
              problema empresarial en software fue sin duda una experiencia
              única y desafiante. Pasar de tener conocimientos muy básicos en
              programación a comprender técnicas de optimización y modelado
              matemático ciertamente agrega mucho a mi vida diaria.
            </p>
          </div>
          <h5>Letícia Strini - Suzano</h5>
          <div class="cont-signal-base-s5">
            <img
              src="{% static 'img/img-home/divisor-destaque-alumnos.png' %}"
              alt=""
            />
          </div>
          <div class="rt-blq-88">
            <div class="cont-img-sct5-logo-tn">
              <img
                class="logo-sect-sc5-suzano"
                src="{% static 'img/img-home/banco-pan.png' %}"
                alt=""
              />
            </div>
            <p>
              La plataforma hoy nos ayuda mucho. Me ayuda mucho, no sólo como
              gerente de área, [ya que] mi equipo puede desarrollarse mucho
              con la plataforma Alura Para Empresas. También lo uso para hacer
              entrenamiento.
            </p>
          </div>
          <h5>Rodrigo Trevisan Rodrigues - Banco PAN</h5>
        </div>
      </div>
      <div class="blq-cs5-bq2">
        <h2>Empresas que ya cuentan con nosotros</h2>
        <div class="cont-cliente-logo-sc5">
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-localiza.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-globo.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-oracle.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-banco-do-brasil.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-bradesco.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-quintoandar.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-votorantim.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-serpro.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-carrefour.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-telefonica.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-nubank.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-via-varejo.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-dasa.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-claro.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-meta.svg' %}"
            alt=""
          />
          <img
            class="img-sc5-cl-s589"
            src="{% static 'img/img-home/logo-thoughtworks.svg' %}"
            alt=""
          />
        </div>
        <div class="content-frm-sc-link-bt">
          <a class="link-btp-cs5-aa">
            <p>Mira lo que ofrecemos para empresas</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cont-sec-07">
    <div class="frame-sec07-all">
      <div class="cont-frame-07-bq1">
        <div class="cards-07-abb">
          <img src="{% static 'img/img-home/Macbook_icon.png' %}" alt="" />
          <h2>1478 cursos</h2>
          <p>con lanzamientos cada semana y actualizaciones constantes</p>
        </div>
        <div class="cards-07-abb">
          <img
            src="{% static 'img/img-home/apple_festival_app.png' %}"
            alt=""
          />
          <h2>Aplicativos</h2>
          <p>
            para Android e iOS, para que puedas descargarlo y estudiarlo sin
            conexión.
          </p>
        </div>
      </div>
      <div class="cont-frame-07-bq2">
        <div class="cont-07-btn-scc">
          <a class="lnk-07-sspd">
            <div class="frame-btn-07sec-a">
              <img
                src="{% static 'img/img-home/application_playstore_android.png' %}"
                alt=""
              />
              <span>Google Play</span>
            </div>
          </a>
        </div>
        <div class="cont-07-btn-scc">
          <a class="lnk-07-sspd">
            <div class="frame-btn-07sec-a">
              <img
                src="{% static 'img/img-home/social_apple_mac.png' %}"
                alt=""
              />
              <span>App Store</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="button-port-sec07">
      <img
        class="under-section-div-07"
        src="{% static 'img/img-home/divisor-section-app.png' %}"
        alt=""
      />
    </div>
  </div>

  <div class="content-section-08">
    <div class="cont-frm-tt-s8">
      <h2 class="titulo-s8-urgth">
        Comienza a estudiar <span>ahora</span> en la escuela de tecnología más
        grande del país.
      </h2>
    </div>
    <div class="cont-self-cuenta-pv-08">
      <div class="cards-sell-cursos-s01">
        <div class="detail-sell-cursos-al">
          <img src="{% static 'img/img-home/icon-plus.svg' %}" alt="" />
          <h3>PLUS</h3>
          <h4>De <span class="precio-descuento-08">R$1800</span> por</h4>
          <h4>12x <span class="precio-descuento-02-08">R$109</span></h4>
          <h4>En efectivo R$1.308</h4>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Acceso a TODOS los cursos de Alura
              <img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Alura Challenges
              <img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Alura Casos<img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Certificado
              <img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="btn-sell-curso-link-oferta-08">
          <a class="btn-08-sec-buy-sell">
            <div class="cont-inf-btn-link-cursos-08">
              <p>Matricuarlce</p>
            </div>
          </a>
        </div>
        <div class="img-bkg-card-08">
          <img
            src="{% static 'img/img-home/icon-plan-plus-background.svg' %}"
            alt=""
          />
        </div>
      </div>
      <div class="cards-sell-cursos-s02">
        <div class="detail-sell-cursos-al">
          <img src="{% static 'img/img-home/icon-plus.svg' %}" alt="" />
          <h3>PRO</h3>
          <h4>De <span class="precio-descuento-08">R$2400</span> por</h4>
          <h4>12x <span class="precio-descuento-02-08">R$149</span></h4>
          <h4>En efectivo R$1.788</h4>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Acceso a TODOS los cursos de Alura
              <img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Alura Challenges
              <img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Alura Casos<img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="dtl-info-cursos-08">
          <img
            class="icono-check-s08"
            src="{% static 'img/img-home/icon-check.svg' %}"
            alt=""
          />
          <div class="rsm-sell-curso-ttg">
            <p>
              Certificado
              <img
                src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="cont-chat-ia-sell">
          <div class="frame-luri-info-08">
            <img
              src="{% static 'img/img-home/icon-label-luri.svg' %}"
              alt=""
            />
            <div class="frm-int-luri-dtl">
              <img
                class="icono-check-s08-02"
                src="{% static 'img/img-home/icon-check.svg' %}"
                alt=""
              />
              <h3>
                <span>Luri</span> powered by ChatGPT
                <img
                  src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                  alt=""
                />
              </h3>
            </div>
          </div>
          <div class="frame-luri-info-02-08">
            <img
              class="label-luri"
              src="{% static 'img/img-home/icon-label-luri.svg' %}"
              alt=""
            />
            <div class="frm-int-luri-dtl">
              <img
                class="icono-check-s08-02"
                src="{% static 'img/img-home/icon-check.svg' %}"
                alt=""
              />
              <h3 class="texto-luri">
                <span>Lengua Alura</span> (Incluido curso Inglés para Devs)
                <img
                  src="{% static 'img/img-home/icon-como-funciona.svg' %}"
                  alt=""
                />
              </h3>
            </div>
          </div>
        </div>
        <div class="btn-sell-curso-link-oferta-08">
          <a class="btn-08-sec-buy-sell">
            <div class="cont-inf-btn-link-cursos-08">
              <p>Matricuarlce</p>
            </div>
          </a>
        </div>
        <div class="img-bkg-card-08">
          <img
            src="{% static 'img/img-home/icon-plan-pro-background.svg' %}"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="link-empresas-oferta-08">
      <a class="lnk-empresas-08-dt">
        <h3>Descubre Planes especiales para EMPRESAS</h3>
      </a>
    </div>
    <div class="cont-fly-cards-luri-in">
      <div class="inf-dtl-pro-luri">
        <h5>el plan más elegido</h5>
        <h2>Ventajas de ser <span>PRO</span></h2>
        <p class="pr-luri-ttls">
          Además de todos los beneficios del plan PLUS, recibe los beneficios
          EXCLUSIVOS del plan PRO y sumérgete aún más en la tecnología, el
          conocimiento y las posibilidades.
        </p>
        <a class="btn-08-sec-buy-sell">
          <div
            class="cont-inf-btn-link-cursos-08 cont-inf-btn-link-cursos-down"
          >
            <p>Quiero ser PRO</p>
          </div>
        </a>
      </div>
      <div class="inf-dtl-pro-luri-cards">
        <div class="card-luri-prop-ctn">
          <div class="luri-bkg-fond-logo">
            <img
              src="{% static 'img/img-home/icon-luri-mobile.svg' %}"
              alt=""
            />
          </div>
          <div class="luri-cont-inf-dtl">
            <h6>VENTAJAS DE ALURA PRO</h6>
            <div class="content-ttl-luri-lgt">
              <h2>LURI</h2>
              <div class="cont-text-luri-08">
                <p>powered</p>
                <p class="ult-inf-08-luri">by chat GPT</p>
              </div>
            </div>
            <h5>
              Nuestra Inteligencia Artificial basada en ChatGPT que te ayuda a
              estudiar y profundizar en los temas sobre los que tienes dudas,
              ¡siempre lista para escucharte!
            </h5>
            <div class="tnr-lkn-luri-08">
              <a class="luri-know-link-08">
                <p>Conoce a Luri</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card-luri-prop-ctn-02">
          <div class="luri-bkg-fond-logo-02">
            <img
              src="{% static 'img/img-home/icon-alura-lingua.svg' %}"
              alt=""
            />
          </div>
          <div class="luri-cont-inf-dtl">
            <h6 class="top-text-luri-inf">VENTAJAS DE ALURA PRO</h6>
            <div class="content-ttl-luri-lgt">
              <h3>ALURA LENGUA</h3>
            </div>
            <h5>
              La plataforma de cursos de idiomas online de Alura. ¡Aquí tienes
              la libertad de aprender un nuevo idioma cuando y donde quieras!
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cont-divider-luri-sec08">
      <img
        src="{% static 'img/img-home/formations-divider-luri.png' %}"
        alt=""
      />
    </div>
  </div>